.angular-selector {
  position: relative;
  background: #eee;
  padding: 5px;
  .angular-selector-display {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .angular-selector-view-value {
    cursor: pointer;
    width: 100%;
    text-align: right;
    span {
      margin-left: 10px;
    }
  }
  .angular-selector-dropdown {
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 99999;
    background: #eee;
    input[type=text] {
      border: 1px solid #ccc;
      margin: 2px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        list-style-type: none;
        a {
          cursor: pointer;
          display: block;
          text-decoration: none;
          padding: 5px;
          color: #333;
          &:hover {
            background: #666;
            color: #fff;
          }
        }
        a.active {
          background: #666;
          color: #fff;
        }
      }
    }
  }
}

.angular-selector-hidden {
  display: none;
}
