.angular-selector {
  position: relative;
  padding: 5px;
  color: #666;
  width: 200px;
  .angular-selector-display {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .angular-selector-view-value {
    padding: 5px;
    background: #eee;
    cursor: pointer;
    width: 200px;
    span {
      margin-left: 10px;
    }
  }
  .angular-selector-dropdown {
    position: absolute;
    width: 200px;
    top: 35px;
    right: 5px;
    z-index: 99999;
    background: #eee;
    input[type=text] {
      border: 1px solid #ccc;
      margin: 2px;
      width: 99%;
      margin: 0 0.5%;
      outline: none;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        list-style-type: none;
        a {
          cursor: pointer;
          display: block;
          text-decoration: none;
          padding: 5px;
          color: #333;
          &:hover {
            background: #428BCA;
            color: #fff;
          }
        }
        a.active {
          background: #666;
          color: #fff;
        }
        a.keyhover {
          background: #428BCA;
          color: #fff;
        }
      }
    }
  }
}
