<div class="angular-selector clearfix">
  <div class="angular-selector-display">
    <div class="angular-selector-display-name">
      {{display}}
    </div>
    <div class="angular-selector-view-value pull-right">
      {{viewValue}}
      <span class="glyphicon glyphicon-collapse-down pull-right"></span>
    </div>
  </div>
  <div class="angular-selector-dropdown angular-selector-hidden">
    <input type="text" ng-model="selectorSearch">
    <div>
      <ul>
        <li ng-repeat="obj in collection | filter:selectorSearch">
          <a ng-click="selectThing(obj)" ng-class="{active: obj == currentObj}">{{obj.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
